@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "_LoginLayout.cshtml";
}
<style>
    .bg-login-image {
        background-image: url("https://img.freepik.com/free-photo/top-view-female-hands-work-computer-blue-background_169016-18179.jpg?w=996&t=st=1666235451~exp=1666236051~hmac=ae44c043e161a40203fea3c551167246562c4ffb52e9b470cc8d5c02bb830862");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
                            </div>
                            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="user">
                                <div class="form-group">
                                    <input asp-for="UserNameOrEmail" class="form-control form-control-user"/>
                                    <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                                </div>
                              
                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-user" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                     
                                 <div class="form-group">
                                    <div  class="custom-control custom-checkbox small">
                                        <input  asp-for="RememberMe" class="custom-control-input">
                                        <label class="custom-control-label" asp-for="RememberMe" > @Html.DisplayNameFor(m => m.RememberMe)</label>
                                    </div>
                   
                                 </div>
                           
                                <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i>Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i>Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" asp-action ="ForgotPassword">Quên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Chưa có tài khoản? Đăng ký</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  @* <div class="col-md-4">
        <section>
            <h4>Đăng nhập bằng tài khoản.</h4>
            <hr />
            @{
                var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                var loginProviders = schemes.ToList();
                if (loginProviders.Count == 0)
                {
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]"
                method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                title="Log in using your @provider.Name account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}