@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products as IQueryable<MVC_01.Models.Product.ProductModel>;
    var posts = ViewBag.posts as IQueryable<MVC_01.Models.Blog.Post>;
    //Url.RouteUrl()
    //Url.Link()
}
<partial name="_AlertMessage" />
<h2>Các sản phẩm</h2>
<div class="d-flex flex-wrap justify-content-between">
    @foreach (var product in products)
    {
        var srcImg ="/contents/No_Image_Available.jpg";
        if(product.Photos.Any())
        {
            srcImg=$"/contents/Products/{product.Photos.FirstOrDefault().FileName}";
        }
        <div class="card mb-4" style="width: 24%;">
            <img class ="card-img-top" src=@srcImg alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p>
                    <strong class="text-danger">@product.ProductCategoryProducts.FirstOrDefault()?.Category.Title</strong>
                </p>
                <p>Gía: <strong>@product.Price</strong></p>
        
            </div>
            <div class="card-body">
                <a class="card-link" asp-controller="ViewProduct" asp-action ="Detail" asp-route-productslug ="@product.Slug">
                Chi tiết
                </a>
                <a asp-action="AddToCart" asp-route-productid="@product.ProductId" class="btn btn-primary ml-4">Đặt hàng</a>
            </div>
        </div>
    }
</div>
<h2>Tin tức</h2>

@foreach (var post in posts)
{
    <div class="media mb-3 pd-3 border-bottom" >
        <img class="mr-3" style="width: 80px" src="/contents/No_Image_Available.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <a asp-controller="ViewPost" asp-action ="Detail" asp-route-postslug ="@post.Slug"> <h5 class="mt-0">@post.Title</h5></a>
            <p>@post.Description</p> 
            <div class="text-danger">
                Chủ đề: <strong>@post.PostCategories.FirstOrDefault()?.Category.Title</strong>
            </div>
            <div class="author-row">
                Tác giả : <strong>@post.Author</strong> |
                Ngày cập nhật : <i>@post.DateUpdated.ToShortDateString()</i>
            </div>
        </div>
    </div>
}




