@{
    ViewData["Title"] = "Home Page";
    //Url.RouteUrl()
    //Url.Link()
}
<partial name="_AlertMessage" />
<div class="text-center">
    <h1 class="display-4">Xin chào</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<p>
    @Url.ActionLink()
</p>
<p>
    @Url.Action("Privacy")
</p>
<p>
    @Url.Action("Privacy", new {Id =123, name="Xuanthu"})
</p>
<p>
    @Url.Action("PlanetInfo","Planet",new {id = 3})
</p>
<p>
    @Url.Action("Index","Product")
</p>
<p>
    @Url.RouteUrl("default", new {
    action="HelloView",
    controller= "Home",
    id=3,
    name="XUANTHULAB"
    })
</p>
<p>
    @Url.RouteUrl("neptune")
</p>
<a asp-action="HelloView" asp-controller="First">
    Vi du
</a>
@{
    var routedata = new Dictionary<string, string>()
{
{"name","XuanThuLab"},
{"abc","xyz"},
{"id","3"}
};

}

<a asp-all-route-data=@routedata>
    Vidu
</a>